# Compiled python code
~.pyc
*.pyc

# Mac files
.DS_Store
**/.DS_Store

# User-specific Idea / Pycharm files
.idea/

# Sensitive files
conf/conf.yaml

# Model checkpoint
data/output/checkpoints


# Microsoft office files
~$*.xls*

# Large files
data/pickles/posts_extract.arrow

# Intermediate files
data/output/viz/intermediate
